.card {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid #5187D7;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    animation-name: appear;
    animation-duration: 1000ms;
    /* animation-fill-mode: both; */
}

.card .title {
    padding: 16px;
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: rotateX(90deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0);
    }
  }

.addCard {
    display: flex;
}

.addCard mat-card-content {
    margin: auto;
}

.addCard mat-icon {
    font-size: 150px;
    height: 150px;
    width: 150px;
    color: #5187D7
}

.deleteBtn {
    position: absolute;
    right: -20px;
    top: -20px;
}