.card {
    width: 100%;
    height: 100%;
    position: relative;
}

.addCard {
    display: flex;
}

.addCard mat-card-content {
    margin: auto;
}

.deleteBtn {
    position: absolute;
    right: 0px;
    top: 0px;
}

mat-card-content {
    margin-top: 50px;
}