.fieldWrap {
    margin-top: 10px;
}


.columnSetup {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.columnSetup textarea {
    max-height: 200px;
    min-height: 88px;
}

.columnSetup mat-error {
    font-size: 12px;
}

.text-center {
    text-align: center;
}