.cardsArea {
    display: grid;
    place-items: center;
    gap: 20px;
    justify-items : center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    padding: 10px;
}

::ng-deep .cardItem {
    min-width: 300px;
    min-height: 300px;
    justify-self : stretch;
    align-self : stretch;
}